header{
    display: flex;
}
ul {
    padding: 50px;
    margin: 0px;
    list-style-type:none;
    }
   li {
    margin-left:2px;
    float:left; /*pour IE*/
    display: flex;
    }
   ul li a {
    display:block;
    float:right;   
    width:100px;
    background-color:#000000;
    color:rgb(255, 255, 255);
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
    }
   ul li a:hover {
    background-color:#797979;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
    } 
    .Navigation {
        justify-content: right;
    }
    /* trouvé sur google */